body{
  overflow:scroll;
}

#conway {
  width: 100px;
  height: 100px;
  justify-content:space-between
}

.titleBox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 450px;
}
.h1 {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
}
.secondTitle {
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  visibility: hidden;
}
.textBlock {
  position: absolute;
  top: 50px;
  left: 50px;
  font-size: 50px;
  font-weight: bold;
}

.textBlock::before {
  content: 'Game of Life';
  position: absolute;
  top: -18px;
  height: 40px;
  overflow: hidden;
  color: rgba(0,0,0,0.7)
}

.textBlock::after {
  content: 'Game of Life';
  position: absolute;
  top: -36px;
  left: 0px;
  height: 40px;
  overflow: hidden;
  color: rgba(0,0,0,0.2)
}

@media only screen and (max-width: 576px) {
  .textBlock, titleBox {
    visibility: hidden;
  }
  .secondTitle{
    visibility: visible;
  }
  #conway {
    display:none;
  }
}

.main {
  margin: 0
}
button {
  border-radius: 50%!important;
}

ion-icon {
  font-size: 24px;
}

.btn { 
  margin: 0;
  height:50px;
  width:50px;
  line-height:0;
}

#play-and-pause {
  width:50px;
  height:50px;
}


#color-wheel {
  width: 50px;
  height: 50px;
  background: radial-gradient(white, transparent 80%),
              conic-gradient(#e43f00, #fae410, #55cc3b, #09adff, #6b0efd, #e70d86, #e43f00);
  border-radius: 50%;
}

ion-icon {
  pointer-events: none;
 }