*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(0.25turn, #edaaaa, #8edce3);
  overflow: hidden;
  font-family: sans-serif;
}

.tinder {
  width: 100vw;
  height: 620px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
  z-index: 1;
}

.loaded.tinder {
  opacity: 1;
}

.tinder--status {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  z-index: 2;
  width: 100%;
  text-align: center;
  pointer-events: none;
}

.tinder--status i {
  font-size: 100px;
  opacity: 0;
  transform: scale(0.3);
  transition: all 0.2s ease-in-out;
  position: absolute;
  width: 100px;
  margin-left: -50px;
}

.tinder_love .fa-heart {
  opacity: 0.7;
  transform: scale(1);
}

.tinder_nope .fa-remove {
  opacity: 0.7;
  transform: scale(1);
}

.tinder--cards {
  flex-grow: 1;
  padding-top: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* z-index: 1; */
}

.tinder--card {
  display: inline-block;
  width: 90vw;
  height: 510px;
  width: 340px;
  background: linear-gradient(45deg, #47b9a6, #9198e5);
  padding-bottom: 40px;
  border-radius: 2rem;
  box-shadow: 1px 1px 10px rgba(68, 68, 68, 0.527);
  overflow: scroll;
  position: absolute;
  will-change: transform;
  transition: all 0.3s ease-in-out;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
  /* z-index: 999; */
}

.moving.tinder--card {
  transition: none;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}

/* .tinder--card img {
    max-width: 100%;
    pointer-events: none;
  } */

/* .tinder--card h3 {
    margin-top: 32px;
    font-size: 32px;
    padding: 0 16px;
    pointer-events: none;
  }
  
  .tinder--card p {
    margin-top: 24px;
    font-size: 20px;
    padding: 0 16px;
    pointer-events: none;
  } */

.tinder--buttons {
  flex: 0 0 100px;
  text-align: center;
  /* margin-bottom: 0.5rem; */
  z-index: 99;
}

.tinder--buttons button {
  border-radius: 50%;
  line-height: 60px;
  width: 60px;
  border: 0;
  background: #ffffff;
  display: inline-block;
  margin: 0 8px;
}

.tinder--buttons button:focus {
  outline: 0;
}

.tinder--buttons i {
  font-size: 32px;
  vertical-align: middle;
}

.fa-heart {
  color: #fface4;
}

.fa-remove {
  color: #5f94bc;
}

.fa-refresh {
  color: #acacac;
}

.outer-container {
  display: none;
}

.center-content {
  display: flex;
  justify-content: center;
}

.to-be-matched {
  display: none;
  margin-top: 5vh;
  text-align: center;
  padding: 6rem 2rem;
  background-color: rgba(255, 255, 255, 0.442);
  height: 550px;
  width: 450px;
  border-radius: 2rem;
}

.search-icon {
  position: relative;
  top: -6.5rem;
  left: 4.5rem;
}

.match-hint {
  font-size: 2.5rem;
  margin-top: -6.5rem;
  margin-bottom: 1rem;
  margin-left: 1.5rem;
}

.match-hint1 {
  font-size: 1.5rem;
}

.post-button {
  font-size: 2rem;
  background-color: #f9d234;
  width: 200px;
  height: 70px;
  border-radius: 2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin: 1.1rem auto;
}

.stat-creator-pic {
  margin-top: 1.2rem;
  height: 135px;
  width: 250px;
  object-fit: cover;
  /* border-radius: 50%; */
  /* margin-left: 8%; */
  pointer-events: none;
}

.stat-creator-name {
  /* text-align: center; */
  font-size: 2rem;
  line-height: 3rem;
  font-weight: bold;
  margin-top: 15px;
  pointer-events: none;
  background-color: white;
}

#stats {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 280px;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
  font-weight: 500;
  pointer-events: none;
  font-size: 1.2rem;
  line-height: 0.9rem;
}

.list-container {
  /* margin: 10px auto; */
  /* overflow: auto; */
  height: 150px;
  /* border-radius:1rem; */
  padding: none;
  color: rgb(31, 31, 31);
  pointer-events: none;
}

.skill-cat {
  margin-bottom: -0.5rem;
  text-decoration: underline;
  background-color: rgba(255, 218, 6, 0.981);
  font-size: 1.6rem;
  font-weight: bold;
  /* padding: 0 99px; */
  pointer-events: none;
}

.skill-cat1 {
  margin-top: -1rem;
  pointer-events: none;
}

.list-container li {
  line-height: 2.8rem;
  font-size: 25px;
  list-style: none;
  margin-left: -2.5rem;
  pointer-events: none;
}

.result-end {
  text-align: center;
  margin-top: -400px;
  font-size: 3rem;
}

.user-id {
  display: none;
}
