@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

/* @font-face {
  font-family: AstroSpace;
  src: url(/fonts/AstroSpace.ttf);
} */

header {
  background: linear-gradient(45deg, #47b9a6, #9198e5);
  position: fixed;
  width: 100%;
  z-index: 2;
}

.header-space {
  height: 90px;
}

.main-nav {
  height: 70px;
}

.logo {
  color: white;
  line-height: 70px;
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
  margin-left: 30px;
  font-family: "AstroSpace", sans-serif;
}

.navlinks {
  list-style: none;
  float: right;
  line-height: 70px;
  margin: 0;
  padding: 0;
}

.navlinks li {
  display: inline-block;
  margin: 0px 10px;
}

.navlinks li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: all 0.3s linear 0s;
  text-transform: uppercase;
}

.navlinks li a:hover {
  color: #ffffff;
  padding-bottom: 7px;
  border-bottom: 2px solid #ffffff;
}

li a.contact {
  background-color: #ffaa00;
  padding: 9px 20px;
  border-radius: 50px;
  transition: all 0.3s ease 0s;
  border-bottom: none;
  margin-left: -12px;
}

li a.contact:hover {
  background-color: #ffc800;
  color: white;
  border-bottom: none;
}

#check {
  display: none;
}

.menu-btn {
  font-size: 25px;
  color: white;
  float: right;
  line-height: 70px;
  margin-right: 40px;
  display: none;
  cursor: pointer;
}

@media (max-width: 800px) {
  .navlinks {
    position: fixed;
    width: 100%;
    height: 100vh;
    text-align: center;
    transition: all 0.5s;
    right: -100%;
    background: #222831;
  }

  .navlinks li {
    display: block;
  }

  .navlinks li a {
    font-size: 20px;
  }

  .navlinks li a:hover {
    border-bottom: none;
  }

  .menu-btn {
    display: block;
  }

  #check:checked ~ .navlinks {
    right: 0;
  }
}

@media (max-width: 360px) {
  .logo {
    margin-left: 10px;
    font-size: 25px;
  }

  .menu-btn {
    margin-right: 10px;
    font-size: 25px;
  }

  .menu-btn:focus {
    color: blue;
  }
}

header a:hover {
  color: white;
}

#profile-pic-nav {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

#profile-pic-container {
  display: inline-block;
  height: auto;
  width: auto;
  margin: auto;
}

#profile-pic-container a {
  margin: 0 10px 0 0;
  text-align: center;
}

nav ul #profile-pic-container a {
  text-decoration: none;
}
