/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:200,400,800&display=swap'); */

:root {
  --color-white: #dbdbdb;
  --color-dark: #161616;
  --color-darkblue: #00709c;
  --color-lightblue: #00b9ff;
  --color-lightdark-alpha: rgba(214, 250, 249, 0.4);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--color-dark);
  margin: 0;
}

/* mobile friendly alternative to using background-attachment: fixed */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-image: linear-gradient(to bottom right, #47b9a6, #9198e5);
}

h1 {
  font-weight: 800;
  line-height: 1.2;
}

p {
  font-size: 1.125rem;
}

h1,
p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

label {
  /* display: flex; */
  align-items: center;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

.radio-container {
  display: flex;
  justify-content: space-evenly;
}

.radio {
  padding: 0 1.5 rem;
}

input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.container {
  width: 100%;
  margin: 3.125rem auto 3rem auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

.header {
  padding: 0 0.625rem;
  margin-bottom: 1.875rem;
}

.clue {
  margin-left: 0.25rem;
  font-size: 0.9rem;
  color: #e4e4e4;
}

.text-center {
  text-align: center;
}

/* form */

form {
  background: var(--color-lightdark-alpha);
  padding: 2.5rem 0.625rem;
  border-radius: 1.25rem;
}

@media (min-width: 480px) {
  form {
    padding: 2.5rem;
  }
}

.form-group {
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
}

.button-group {
  display: flex;
}

.form-control {
  display: block;
  width: 100%;
  height: 2.375rem;
  padding: 0.375rem 0.75rem;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-textarea {
  min-height: 120px;
  width: 100%;
  padding: 0.625rem;
  resize: vertical;
}

.submit-button {
  width: 48%;
  padding: 0.75rem;
  background: #2be0bf;
  color: inherit;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.submit-button:hover {
  background-color: #68ffe3;
}

.delete-button {
  width: 48%;
  padding: 0.75rem;
  background: #fa6c6c;
  color: inherit;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5rem;
  display: none;
}

.delete-button:hover {
  background-color: #f89292;
}

.close {
  position: fixed;
  right: 13%;
  top: 6%;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  text-align: center;
  color: #fff;
  font-weight: bold;
  background-color: #f7384b;
  cursor: pointer;
}

:root {
  --accent: #00b9ff;
  --border-width: 6px;
  --border-radius: 55px;
  --font-size: 30px;
}

.switch-field {
  font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
  display: flex;
}

.switch-field input {
  position: absolute;
  opacity: 0;
}

.switch-field label {
  width: 80%;
  background-color: #ffffff;
  border: solid 1.5px #0865a8;
  color: #09357a;
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  padding: 8px 14px;
  margin-bottom: 15px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
  cursor: pointer;
}

.switch-field input:checked + label {
  background-color: #0865a8;
  color: #ffffff;
}

.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}

.font-style {
  color: #1c65dc;
  font-weight: bold;
}
