@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: auto;
  font-family: "Roboto", sans-serif;
  color: #10182f;
}

.heading {
  font-size: 1.2rem;
  font-weight: bolder;
  margin-left: 40px;
}

.top-banner {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 1.5rem;
  width: 90%;
  height: 65px;
  object-fit: cover;
}

.flexcolumn {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

[hidden] {
  display: none !important;
}

.sample-upload {
  height: 370px;
  width: 65vw;
  object-fit: cover;
  margin-bottom: 0.5rem;
}

.sample-header {
  font-weight: bold;
  font-size: 2.3rem;
}

.highlight-text {
  background-color: #ffbf00;
}

.sample-description {
  font-size: 1.5rem;
  font-weight: normal;
  padding: 0.5rem 0;
}

.creator-section {
  background-color: #dde0e8;
  padding: 1.2rem;
  border-radius: 1.5rem;
  height: 420px;
}

.sample-creator-pic {
  height: 180px;
  width: 180px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 15%;
}

.center-position {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.sample-creator-name {
  /* text-align: center; */
  margin: auto;
}

.content-container {
  background-color: #dde0e8;
  padding: 1.5rem;
  border-radius: 1.5rem;
  margin-bottom: 1.5rem;
}

.btn {
  width: 16rem;
  cursor: pointer;
  background-color: #fff;
  padding: 10px 0;
  border-radius: 16px;
  border: 1px solid #c2cdef;
  color: #120c35;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
  font-size: 1rem;
}

.btn i {
  font-size: 20px;
  margin-bottom: 0.5rem;
}

.fa-comment {
  font-size: 2rem;
}

.button-css {
  margin-bottom: 1rem;
  height: 50px;
  width: 300px;
  border-radius: 0.8rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-button {
  background-color: #6dbbe6;
  font-size: 1.3rem;
  display: none;
}

.delete-button {
  background-color: #e66d6d;
  font-size: 1.3rem;
  display: none;
}

.creator-container a {
  text-decoration: none;
}
